---
import { ViewTransitions } from 'astro:transitions';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
        <ViewTransitions />
		<title>I'm hex4.</title>
	</head>
	<body class="mocha bg-crust w-screen min-h-screen">
		<div class="w-1/2 h-full pt-24 mx-auto">
			<h1 class="text-xl text-subtext0">CHAPTER TWO</h1>
			<h1 class="text-5xl text-text font-bold">Hello, World</h1>
            <p class="text-text font-sans text-lg whitespace-pre-line">
                Hello, world!

                I'm hex4. I love to build fun, sometimes useless, tools and games. In my spare time I'm playing Minecraft, learning Japanese, and making art. I also do a lot of other things, like making music, prepping for D&D, editing videos, modifying my NixOS config, snowboarding, messing with Figma, and pretending to know what I'm doing..

                Coding has always appealed to me, even from a young age. I just found it magical that you could type in a few lines of this myserious language full of symbols and numbers, and it would turn into something beautiful.
                
                I'm also a Hack Clubber, Alterok at buildspace, and an open source enthusiast.

                [github] [twixter] [mastodon] [scrapbook] []
            </p>
        </div>

    </body>
</html>