---
import { ViewTransitions } from 'astro:transitions';
import Card from "../Card.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">

		<title>I'm hex4.</title>
	</head>
	<body class="mocha bg-crust w-screen min-h-screen">
		
		<div class="w-1/2 h-full py-24 mx-auto ">
			
			<h1 class="text-xl text-subtext0">CHAPTER TWO</h1>
			<h1 class="text-5xl text-text font-bold">Hello, World</h1>
			<Card></Card>
            <p class="text-text font-sans text-lg whitespace-pre-line">
				Hey!

				I'm hex4. I love making stuff - pixel art, websites, games, dangerous circuits, etc. Being able to code has always felt magical. You could type in some words, some numbers, and whatever [:-3] is, and you get out, well most of the time it's an error. But sometimes it works, and you get a beautiful website, or a fun little game!
				
				When I'm not staring at red lines of text, you can find me messing with Figma, chatting in the Hack Club slack, gaming, snowboarding, making terrible music, editing videos, modifying my NixOS config, reading, and pretending to know what I'm doing.

				I cause chaos at <a class="transition-all underline underline-offset-4 hover:underline-offset-8 hover:text-red" href="https://hackclub.com">Hack Club</a>, and I dropped out of week 2 at <a class="transition-all underline underline-offset-4 hover:underline-offset-8 hover:text-blue" href="https://buildspace.so">buildspace</a> nights & weekends s5 lol. (hmu if you made something cool, I'd love to see it)

				You can reach me at hmu [at] hex4.dev
				// This email is currently broken, reach me at nenex54 at proton dot me

            </p>
			<br>
			<a href="/" class="inline-block text-surface0 hover:text-surface2 transition hover:-translate-x-1 text-xl hover:text-bold whitespace-pre">&lt;- </a><a href="/03/" class="inline-block text-surface0 hover:text-surface2 transition hover:translate-x-1 text-xl hover:text-bold whitespace-pre">-&gt;</a>
        </div>

    </body>
</html>