---
import { ViewTransitions } from 'astro:transitions';
import Card from "../Card.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
		<ViewTransitions />
		<title>I'm hex4.</title>
	</head>
	<body class="mocha bg-crust w-screen min-h-screen">
		<div class="w-1/2 h-full py-24 mx-auto">
			<p class="text-overlay1 font-sans text-lg">don't have time to read a story? skip to <a class="transition-all underline underline-offset-4 hover:underline-offset-8 hover:text-text">[card]</a> <a class="transition-all underline underline-offset-4 hover:underline-offset-8 hover:text-text">[me]</a> <a class="transition-all underline underline-offset-4 hover:underline-offset-8 hover:text-text">[projects]</a></p>
			<br>

			<h1 class="text-xl text-subtext0">CHAPTER ONE</h1>
			<h1 class="text-5xl text-text font-bold">Dear Internet</h1>
			<br>
			<p class="text-text font-sans text-lg">
				<i class="font-bold">The internet feels boring.</i>
				<br>
				<br>
				Nowadays it feels like everything's the same. I find some hot takes here. Some low effort memes there. All this content is centralized on a few big platforms. The Web started as a place where anyone could create anything, where creativity was everywhere. Now, everyone is on, what, five? Seven? websites, and let's be real, making money is much higher on their list of priorites than their users.
				<br>
				<br>
				It wasn't always like this.
				<br>
				<br>
				Once, there was a time where hundreds of tiny toys, little experiments, and useless games were being created and shared every week. These people didn't care about upvotes, comments, or likes. They created these things because they could. It was amazing!
				<br>
				<br>
				Now it seems like they're gone. But they aren't. They're just buried under thousands of search results. Of course, maybe I won't find them or they're offline. That's okay.
				<br>
				<br>
				I'll just create them.
				<br>
				<br>
				I'm trying to bring back the <span class="text-peach font-bold">creativity</span> of this weird, wonderful place we call the internet.
				<br>
				<br>
				With love,
				<br>
				<span class="text-surface1 whitespace-pre-wrap">hex4</span>				
			</p>
			<br>

			<a href="02" class="inline-block text-surface0 hover:text-surface2 transition hover:translate-x-1 text-xl hover:text-bold">-&gt;</a>

		</div>

		
	</body>
</html>
