---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">

		<title>I'm hex4.</title>
	</head>
	<body class="mocha bg-crust w-screen min-h-screen">
		<div class="w-1/2 h-full pt-24 mx-auto">
			<h1 class="text-xl text-subtext0">CHAPTER ONE</h1>
			<h1 class="text-5xl text-text font-bold">Dear Internet</h1>
			<br>
			<p class="text-text font-sans text-lg">
				<i>The internet feels boring.</i>
				<br>
				<br>
				Almost all of the content here is now centralized on a few big platforms. It all feels the same. Some hot takes. Some low effort posts. Even once in a while I find something genuinely funny or interesting - but I had to wade through a ton of junk to find it.
				<br>
				<br>
				It wasn't always like this.
				<br>
				<br>
				There used to be a time where tiny toys, small games, and little websites were everywhere on the internet. The people who made these didn't care about upvotes, or likes. They just made things because they could.
				<br>
				<br>
				And it was amazing.
				<br>
				<br>
				These days, they're all buried under thousands of search results. But they're still here. They just need to be found. That's what I'm trying to do. If they don't exist or I can't find them, I'll create them.
				<br>
				<br>
				I'm trying to bring back the <span class="text-peach">creativity</span> of the internet.
				<br>
				<br>
				See ya around.
				<br>
				<span class="text-surface1 whitespace-pre-wrap">hex4</span>				
			</p>
			<br>

			<a href="02" class="inline-block text-surface0 hover:text-surface2 transition hover:translate-x-2">[next]</a>

		</div>

		
	</body>
</html>
