---

---

<div class="my-32 mx-auto outline outline-1 outline-surface2 w-1/2 p-16 shadow-2xl rounded-md" data-tilt data-tilt-max="10" data-tilt-scale="1.1" data-tilt-glare data-tilt-max-glare="0.1">
    <img src="avatar.png" alt="hex4 avatar" class="size-64 rounded-full">

</div>
<script>
    import VanillaTilt from 'vanilla-tilt';
</script>